[submodule "libs/glaze"]
	path = libs/glaze
	url = https://github.com/stephenberry/glaze.git
	shallow = true
[submodule "libs/material-color-utilities"]
	path = libs/material-color-utilities
	url = https://github.com/material-foundation/material-color-utilities.git
	shallow = true
