window {
  background-color: transparent;
}

.body-small {
  font-size: 14px;
  color: @neutral_40;
}

.icon.file {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.font,
.icon .font {
  font: 18px Material Symbols Outlined;
}

.start-icon {
  margin-right: 8px;
}

.end-icon {
  margin-left: 8px;
}

.button.tonal,
.button:not(.filled):hover {
  background-color: @primary_surface_3;
}

.button.tonal:hover {
  background-color: @primary_surface_4;
}

.button.filled {
  background-color: @primary_40;
  color: @primary_surface;
}

.button.filled .icon .font {
  color: @primary_surface;
}

.button.circle {
  padding: 0;
  min-width: 40px;
  min-height: 40px;
}

.button.circle.small {
  min-width: 32px;
  min-height: 32px;
}

.panel .container {
  padding: 4px;
}

.panel.expanded .container {
  /* larger mouseout area */
  padding: 0 0 80px 80px;
}

.panel .body {
  border-radius: 24px;
  color: @neutral_20;
  background-color: @primary_surface_0;
}

.panel.expanded .body {
  padding: 8px;
}

.panel .tile .body-small {
  font-size: 12px;
}

.panel .tile.filled .body-small {
  color: @neutral_80;
}

/* .dialog {
  min-width: 336px;
  padding: 16px 0;
  border-radius: 24px;
  background-color: @primary_surface_2;
} */

.dialog-container.fullscreen .dialog {
  /* min-width: 100%;
  min-height: 100%; */
  border-radius: 0;
}

.dialog-container:not(.fullscreen) {
  padding: 16px;
}

.dialog > .body {
  /* flex: 1; */
  padding: 0 24px;
  background-color: @primary_surface_2;
}

.dialog > .actions {
  padding: 16px 24px 0 24px;
}

.dialog > .actions .button + .button {
  margin-left: 8px;
}

.player {
  min-height: 100px;
  margin-top: 8px;
  padding: 16px;
  border-radius: 24px;
}

.player .artist {
  margin-top: 4px;
}

.player .button {
  margin-left: 16px;
}

.player trough {
  min-height: 24px;
  border-radius: 24px;
}

.player highlight {
  border-radius: 24px;
}

.launcher .body {
  padding: 8px;
  border-radius: 24px;
  color: @neutral_20;
  background-color: @primary_surface_0;
}

.launcher .search {
  background-color: @primary_surface_2;
  border-radius: 24px;
  margin: 8px;
}

.launcher .search .start-icon {
  padding-left: 16px;
}

.launcher .grid.pinned {
  border-bottom: 1px solid @primary_surface_2;
}

.launcher .app {
  padding: 16px;
  border-radius: 24px;
}

.launcher .app:hover,
.launcher .app:focus {
  background-color: @primary_surface_2;
}

.launcher .app .icon {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: @primary_40;
}

.launcher .app .name {
  font-size: 12px;
  margin-top: 8px;
}

.app-menu menuitem.no-icon {
  padding-left: 40px;
}
