@define-color primary_surface_0 mix(#000, @primary_80, 0.1);

window {
  background-color: transparent;
}

.body-small {
  font-size: 14px;
  color: @neutral_40;
}

.icon.image {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon label {
  font: 18px Material Symbols Outlined;
}

.start-icon {
  margin-right: 8px;
}

.end-icon {
  margin-left: 8px;
}

button.filled {
  background-color: @primary_40;
  color: @primary_surface;
}

button.circle {
  padding: 0;
  min-width: 40px;
  min-height: 40px;
}

button.circle.small {
  min-width: 32px;
  min-height: 32px;
}

/* .dialog {
  min-width: 336px;
  padding: 16px 0;
  border-radius: 24px;
  background-color: @primary_surface_2;
} */

.dialog-container.fullscreen .dialog {
  /* min-width: 100%;
  min-height: 100%; */
  border-radius: 0;
}

.dialog-container:not(.fullscreen) {
  padding: 16px;
}

.dialog > .body {
  /* flex: 1; */
  padding: 0 24px;
  background-color: @primary_surface_2;
}

.dialog > .actions {
  padding: 16px 24px 0 24px;
}

.dialog > .actions button + button {
  margin-left: 8px;
}

.panel .container {
  padding: 4px;
}

.panel.expanded .container {
  /* large mouseout area */
  padding-left: 100px;
  padding-bottom: 100px;
}

.panel .body {
  border-radius: 24px;
  color: @neutral_20;
  background-color: @primary_surface_0;
}

.panel.expanded .body {
  padding: 8px;
}

.panel .tile .body-small {
  font-size: 12px;
}

.panel .tile.filled .body-small {
  color: @primary_surface;
}

.panel .body .footer {
  margin-top: 8px;
}

.panel .player {
  margin-top: 8px;
  padding: 16px;
  border-radius: 24px;
}

.panel .player .thumbnail {
  min-width: 64px;
  min-height: 64px;
  margin-left: 16px;
  border-radius: 8px;
  background-size: contain;
  background-position: center;
}

.panel .player .thumbnail label {
  font-size: 40px;
}

.panel .player .artist {
  margin-top: 8px;
}

.panel .player trough {
  min-height: 24px;
  margin-top: 8px;
}

.launcher .body {
  padding: 8px;
  border-radius: 24px;
  color: @neutral_20;
  background-color: @primary_surface_0;
}

.launcher .search {
  background-color: @primary_surface_2;
  border-radius: 24px;
  padding: 0 16px;
  margin: 8px;
}

.launcher .search entry {
  padding: 0;
}

.launcher .grid + .grid {
  border-top: 1px solid @primary_surface_2;
}

.launcher .app {
  padding: 16px;
  border-radius: 24px;
}

.launcher .app:hover,
.launcher .app:focus {
  background-color: @primary_surface_2;
}

.launcher .app .icon {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: @primary_40;
}

.launcher .app .name {
  font-size: 12px;
  margin-top: 8px;
}

.app-menu menuitem.no-icon {
  padding-left: 40px;
}

.launcher .placeholder {
  padding: 24px;
  color: @neutral_40;
}

.launcher .placeholder .icon label {
  font-size: 40px;
}
