.launcher .body {
  padding: 4px;
  border-radius: 24px;
  color: @foreground;
  background-color: @background;
}

.launcher .search {
  background-color: @card;
  border-radius: 24px;
  padding: 0 16px;
  margin: 8px;
}

.launcher .search entry,
.launcher .search entry:focus {
  padding: 0;
  background-color: transparent;
}

.launcher .grid + .grid {
  border-top: 1px solid @border;
}

.launcher .app {
  padding: 16px;
  border-radius: 24px;
}

.launcher .app:hover,
.launcher .app:focus {
  background-color: @hover;
}

.launcher .app-icon {
  border-radius: 50%;
  min-width: 48px;
  min-height: 48px;
}

.launcher .app-icon.adaptive {
  background-color: #fff;
  padding: 4px;
}

.launcher .app-icon label {
  font-size: 32px;
}

.launcher .app .name {
  font-size: 16px;
  margin-top: 8px;
}

.app-menu .list-item {
  min-height: 40px;
  padding: 0 16px;
}

.app-menu .list-item:first-child {
  border-radius: 16px 16px 0 0;
}

.app-menu .list-item:last-child {
  border-radius: 0 0 16px 16px;
}

.app-menu .list-item:hover {
  background-color: @card;
}

.app-menu .menu-item .start-icon {
  margin-right: 2px;
}

.app-menu .menu-item.no-icon {
  padding-left: 40px;
}

.launcher .placeholder {
  padding: 24px;
  color: @secondary;
}

.launcher .placeholder .icon label {
  font-size: 40px;
}

/* todo: not working */
.launcher .grid.drag-over {
  border: 2px solid @primary;
  border-radius: 12px;
}

.launcher .app.dragging {
  opacity: 0.6;
}

.drag-icon {
  background-size: 38px;
  background-repeat: no-repeat;
}
