.quick-settings {
  border-radius: 24px;
  color: @foreground;
  background-color: alpha(@hover, 0.6);
  padding: 16px;
}

.quick-settings .tile {
  padding: 16px;
}

.tile .start-icon label {
  font-size: 24px;
}

.quick-settings .tile .title {
  font-weight: bold;
}

.quick-settings .tile .description {
  font-size: 14px;
  margin-top: 4px;
}

.quick-settings .footer {
  margin-top: 8px;
}

.quick-settings .player {
  margin-top: 8px;
  padding: 16px;
  border-radius: 16px;
  background-color: @surface-variant;
  background-size: cover;
  background-position: center;
}

.quick-settings .player .title {
  font-weight: bold;
  margin-right: 8px;
}

.quick-settings .player .play-pause {
  min-width: 48px;
  min-height: 48px;
  border-radius: 8px;
  transition: border-radius 0.2s;
}

.quick-settings .player.playing .play-pause {
  border-radius: 24px;
}

.quick-settings .player trough {
  min-height: 24px;
  margin: 24px;
  border-radius: 24px;
}

.notification-item {
  background-color: @surface;
  border-radius: 24px;
  padding: 16px;
}

.notification-item .icon {
  font-size: 20px;
  color: @primary;
}

.notification-item .content {
  margin-left: 8px;
}

.notification-item .title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}

.notification-item .description {
  font-size: 13px;
  margin-top: 4px;
}

.notification-item:hover {
  background-color: @surface-variant;
}

.audio-dialog .section-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.audio-dialog-container {
  border-radius: 24px;
  background-color: @popover;
  padding: 16px;
  min-width: 360px;
}

.audio-row {
  padding: 4px 0;
}

.audio-row .device-name,
.audio-row .slider-percent {
  font-size: 14px;
  color: @foreground;
}

.audio-row .icon.device-icon {
  color: @foreground;
}

.audio-row .active-dot {
  font-size: 16px;
  color: @primaryForeground;
}

.audio-trough trough {
  min-height: 40px;
  border-radius: 24px;
  background-color: @secondary;
}

.audio-trough trough highlight {
  background-color: @primary;
  border-radius: 24px;
}

.audio-trough.over trough highlight {
  background-color: red;
}

.audio-trough slider {
  all: unset;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  opacity: 0;
}
