.quick-settings {
  border-radius: 24px;
  color: @foreground;
  background-color: @surface;
  padding: 16px;
}

.quick-settings .tile {
  padding: 16px;
}

.quick-settings .tile .title {
  font-weight: bold;
}

.quick-settings .tile .description {
  font-size: 14px;
  margin-top: 4px;
}

.quick-settings .footer {
  margin-top: 8px;
}

.quick-settings .player {
  margin-top: 8px;
  padding: 16px;
  border-radius: 16px;
  background-color: @surface-variant;
  background-size: cover;
  background-position: center;
}

.quick-settings .player .title {
  font-weight: bold;
  margin-right: 8px;
}

.quick-settings .player .play-pause {
  min-width: 48px;
  min-height: 48px;
  border-radius: 8px;
  transition: border-radius 0.2s;
}

.quick-settings .player.playing .play-pause {
  border-radius: 24px;
}

.quick-settings .player trough {
  min-height: 24px;
  margin: 24px;
  border-radius: 24px;
}

.notification-item {
  background-color: @surface;
  border-radius: 24px;
  padding: 16px;
}

.notification-item .icon {
  font-size: 20px;
  color: @primary;
}

.notification-item .content {
  margin-left: 8px;
}

.notification-item .title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}

.notification-item .description {
  font-size: 13px;
  margin-top: 4px;
}

.notification-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
